In [4]:
import pandas as pd
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('../data/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../data/tweet_data.csv

In [8]:
tweet_data = pd.read_csv('../data/tweet_data.csv')
tweet_data.head()

,screen_name,friends_count,tweets_count,linkedin,snapchat,instagram,facebook,followers_count,favourites_count,qtyMentions,qtyHashtags,qtyUrls,qtyEmojis,qtyUppercase,profile_pic_gender,tweets,age
0,ezequielreal10,659,190,0,0,0,0,262,1611,0.09,0.04,0.00,2.05,4.18,0,18 del compaÃ±ero ðŸ˜ŒðŸŽ‰ðŸ˜‰. salio algo de play 3ðŸ”›ðŸ˜Š....,10-17
1,caamilachaparro,1559,33525,0,0,0,0,2990,15112,0.56,0.00,0.11,0.73,2.00,2,se fueron las otras asÃ­ que vuelvo jajajaja. ...,18-24
2,crisalonsofran,2120,24051,0,0,0,0,2160,2377,0.82,0.26,0.54,0.31,2.98,2,"Â¡buen dÃ­a mundo! Â¡buenas noches mundo! ""si no ...",35-49
3,jluisfoglia,150,4157,0,0,0,0,98,1128,0.91,0.09,0.21,0.02,23.69,1,cambio juez: sale un bueno para nada y entra ...,10-17
4,maiikoldadamia,131,1096,0,0,0,0,189,849,0.20,0.00,0.00,0.75,3.08,1,"creo que ya entre como 20 veces a wsp, a tw y ...",10-17